body {
  display: flex;
  min-height: 100vh;
  place-content: center;
  justify-content: center;
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  text-align: center;
}

.header__text-instructions {
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
